<!-- <div class="navbar">

  <div class="navbar-left">
    <span class="brand">Online Education</span>
  </div>

  <div class="navbar-right">
    <button class="nav-btn">Profile</button>
    <button class="nav-btn logout" (click)="logout()">Logout</button>
  </div>

</div> -->
<div class="navbar">

  <div class="left">
    <button class="collapse-btn" (click)="toggleSidebar.emit()">☰</button>
    <span class="title">Online Education</span>
  </div>

  <div class="actions">
    <button class="profile-btn">Profile</button>
    <button class="logout-btn" (click)="logout()">Logout</button>
  </div>

</div>
